/*!
 * Start Bootstrap - Clean Blog v5.0.3 (https://startbootstrap.com/template-overviews/clean-blog)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-clean-blog/blob/master/LICENSE)
 */
 jQuery(document).ready(function($){
  "use strict";

  // Floating label headings for the contact form
  $("body").on("input propertychange", ".floating-label-form-group", function(e) {
    $(this).toggleClass("floating-label-form-group-with-value", !!$(e.target).val());
  }).on("focus", ".floating-label-form-group", function() {
    $(this).addClass("floating-label-form-group-with-focus");
  }).on("blur", ".floating-label-form-group", function() {
    $(this).removeClass("floating-label-form-group-with-focus");
  });

  // Show the navbar when the page is scrolled up
  var MQL = 992;

  //primary navigation slide-in effect
  if ($(window).width() > MQL) {
    var headerHeight = $('#mainNav').height();
    $(window).on('scroll', {
        previousTop: 0
      },
      function() {
        var currentTop = $(window).scrollTop();
        //check if user is scrolling up
        if (currentTop < this.previousTop) {
          //if scrolling up...
          if (currentTop > 0 && $('#mainNav').hasClass('is-fixed')) {
            $('#mainNav').addClass('is-visible');
          } else {
            $('#mainNav').removeClass('is-visible is-fixed');
          }
        } else if (currentTop > this.previousTop) {
          //if scrolling down...
          $('#mainNav').removeClass('is-visible');
          if (currentTop > headerHeight && !$('#mainNav').hasClass('is-fixed')) $('#mainNav').addClass('is-fixed');
        }
        this.previousTop = currentTop;
      });
  }

  $('.map').each(function(mapNumber, mapDiv) {
    var mapContainer = $(mapDiv);
    var position = [mapContainer.data('lat'), mapContainer.data('lon')];
    var map = L.map(mapDiv).setView(position, 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var marker = L.marker(position).addTo(map).bindPopup(mapContainer.data('caption'));
    if(!mapContainer.hasClass('page-map')) {
      marker.openPopup();
    }
  });

  $('.schedule').each(function(scheduleNuber, scheduleDiv) {
    var start = moment('<%= data.schedule.start %>', 'YYYY-MM-DD');

    var events = [
      <% data.schedule.events.each do |event| %>
        {
          start: moment('<%= event.start %>', 'YYYY-MM-DD HH:mm').format('X'),
          end: moment('<%= event.end %>', 'YYYY-MM-DD HH:mm').format('X'),
          title: "<%= event.title %>",
          content: "<%= event.content %>",
          category: "<%= event.category %>"
        },
      <% end %>
    ];

    $(scheduleDiv).Calendar({
      events: events,
      start: moment('<%= data.schedule.start %>', 'YYYY-MM-DD'),
      end: moment('<%= data.schedule.start %>', 'YYYY-MM-DD').add(<%= data.schedule.weekday_indicies.split(',').size - 1 %>, 'days'),
      weekday: {
        timeline: {
          fromHour: 7,
          toHour: 23,
          intervalMinutes: 60,
          format: 'ha'
        },
        dayline: {
          weekdays: [<%= data.schedule.weekday_indicies %>],
          format: 'dddd MM/DD',
          heightPx: 31,
          month: {
            format: 'YYYY [LPO Conference]',
            heightPx: 55,
            weekFormat: '[Conference Schedule]'
          }
        }
      },
      month: {
        format: 'MMMM YYYY',
        heightPx: 55,
        day: {
          format: 'D'
        }
      },
    }).init();
  });
});
