<%= partial(:masthead, locals: { image: '/images/LP_generic_header.png', title: 'Featured Speakers' }) %>
<div class="container">
  <div class="row">
    <div class="col speaker-profile">
      <img alt="Larry Sharpe" class="rounded-circle" width="300" height="300" src="/images/speakers/Sharpe.jpg">
      <h2>Larry Sharpe</h2>
      <p>Larry’s experienced with training, coaching and consulting in many industries including: finance, law, technology, media, retail, real estate, luxury, government and healthcare. He has trained and coached hundreds of entrepreneurs, executives, leaders, lawyers and business people world-wide. A past candidate for the 2016 Libertarian Vice President nomination and former LNC At-large member, Larry recently ran a well-publicized campaign for Governor of New York. His insight into successful campaign strategies and debate preparation is always insightful.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="centered post-preview">
        <p>
          <a class="btn btn-warning btn-lg" href="<%= data.settings.registration_link %>">Register Now!</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col speaker-profile">
      <img alt="Laura Ebke" class="rounded-circle" width="200" height="200" src="/images/speakers/Ebke.jpg">
      <h2>Laura Ebke</h2>
      <p>Originally a member of the Republican Party who described herself as "a conservative libertarian", Ebke changed her registration to the Libertarian Party in 2016. She was thought to be the first Libertarian member of the officially nonpartisan legislature. Laura survived the primary against two Republicans in 2018 but was narrowly defeated in the General Election.</p>
    </div>
    <div class="col speaker-profile">
      <img alt="Boomer Shannon" class="rounded-circle" width="200" height="200" src="/images/speakers/Shannon.jpg">
      <h2>Boomer Shannon</h2>
      <p>A Libertarian organizer and campaign strategist since 2005, he most recently managed Jeff Hewitt’s successful election as County Supervisor, Riverside County California, whom he now serves as Chief of Staff.  He also held leadership roles in many successful statewide initiatives.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="centered post-preview">
        <p>
          <a class="btn btn-warning btn-lg" href="<%= data.settings.registration_link %>">Register Now - Prices increase soon!</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col speaker-profile">
      <img alt="Erin Adams" class="rounded-circle" width="200" height="200" src="/images/speakers/Adams.jpg">
      <h2>Erin Adams</h2>
      <p>Erin ran for a seat in the Oklahoma House of Representatives in 2016 and currently serves as the State Chair in Oklahoma. She is the current Region 7 Alternate for the LNC and is a founding member of the Feldman Foundation. Erin is also a ballot access warrior and successfully restored the Libertarian Party in Oklahoma by legislative action.</p>
    </div>
    <div class="col speaker-profile">
      <img alt="Joshua Smith" class="rounded-circle" width="200" height="200" src="/images/speakers/Smith.jpg">
      <h2>Joshua Smith</h2>
      <p>Of Antioch, California, Joshua is an At-Large representative of the LNC, former Region 5 Rep for the Libertarian Party of Washington, and a founding member of Think Liberty. He has announced his candidacy for Mayor of Antioch and for Chair of the Libertarian Party of California.</p>
    </div>
  </div>
  <div class="row">
    <div class="col speaker-profile">
      <img alt="Jess Mears" class="rounded-circle" width="200" height="200" src="/images/speakers/Mears.jpg">
      <h2>Jess Mears</h2>
      <p>LNC Membership Development Manager and Libertarian activist since 2007, Jess has founded Libertarian groups at the University of Cincinnati, at the county level, and even a retirement community. She ran for Ohio State Senate in 2010 at age 21, was Director of Events for Johnson Weld in 2016, and managed the Foxall for Florida campaign in 2018.</p>
    </div>
    <div class="col speaker-profile">
      <img alt="Mike Shipley" class="rounded-circle" width="200" height="200" src="/images/speakers/Shipley.jpg">
      <h2>Mike Shipley</h2>
      <p>Mike is a long-time libertarian activist, current Secretary of the Arizona Libertarian Party, founder of Povertarian Libertarians, Chair of Outright Libertarians, and a founding member of the Audacious Caucus.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="centered post-preview">
        <p>
          <a class="btn btn-warning btn-lg" href="<%= data.settings.registration_link %>">Register Now!</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="post-preview centered">
        <h2 class="section-heading">Additional Speakers</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col speaker-profile">
      <h3>Zach Williams</h3>
      <p>A field organizer based in Cleveland Ohio, and one of Ohio’s best activist. Zach has worked on campaigns from local level to US Senate races crisscrossing the country. He will share his expertise on successful canvassing.</p>
    </div>
    <div class="col speaker-profile">
      <h3>Sarah “Daggers” Stewart</h3>
      <p>“Daggers” is a recipient of a health initiative grant from the CDC and previous member of the military and a DEA Task Force. Her experience working within a corrupt system led her to the Libertarian party to speak out about the drug war and advocate for sex workers.</p>
    </div>
    <div class="col speaker-profile">
      <h3>Caleb Franz</h3>
      <p>The founder and Executive Director of the MilLiberty Initiative, Caleb is the host of the MilLiberty Podcast. His organization is devoted to successful communications as the best way to advance liberty.</p>
    </div>
  </div>
  <div class="row">
    <div class="col speaker-profile">
      <h3>Ken Sharpe</h3>
      <p>Ken is a lifelong Toledoan, and an activist since 2009 serving as chair of the Lucas County Libertarian Party and the resurrection of the University of Toledo Libertarians.  An active alum of the University of Toledo he has worked with the faculty to develop an Inside/Out prison program, a melding of campus students with inmates at Toledo Correctional Facility in actual university courses. His main focus is on law and its effects on citizens and shaping community. He will speak on local ballot initiatives including as Sensible Marijuana, Sensible Toledo, and the Lake Erie Bill of Rights</p>
    </div>
    <div class="col speaker-profile">
      <h3>Chad Thompson</h3>
      <p>
        Chad is the Executive Director of the Sensible Movement Coalition, a Toledo Ohio based non-profit working nationally to empower and aid local citizens in pursuing their rights of Home Rule. In addition, Chad oversees S.M.C.'s lobbying efforts from municipal to state legislators.
        Working in cannabis law reform since 2013, Chad was responsible for developing the innovative drug policy of complete depenalization, leaving possession a crime but removing all penalties, leading to a policy of non-enforcement. Chad's political experience ranges from grassroots community organizing to campaign management and today balances a busy life between family, friends and running a national non-profit advocating for citizen self rule. He will speak about sensible marijuana and drug policy reform.
      </p>
    </div>
    <div class="col speaker-profile">
      <h3>Dr. Michael Fricke</h3>
      <p>Conference Chair and Portage County Social Media Coordinator. Dr. Fricke is a chemist and the former director of the first medical marijuana testing laboratory to receive approval from Ohio in 2018. He will prepare two presentations and let the audience choose. With authority Dr. Fricke will discuss either how Ohio's medical marijuana program is failing patients or on Ohio’s historical roots of the Deep State.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="centered post-preview">
        <p>
          <a class="btn btn-warning btn-lg" href="<%= data.settings.registration_link %>">Register Now - Prices increase soon!</a>
        </p>
      </div>
    </div>
  </div>
</div>
